<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>输入用户名</title>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
<style>
body {
  background-image: url("/img/AnniEiffel_1920x1080.jpg");
  background-repeat: no-repeat;
}
</style>
</head>
<body>

<div class="container">

<div style="margin-top: 200px;"></div>
<div class="row justify-content-center">
<div class="col col-sm-9 offset-sm-1">

<div class="card " style="opacity: 0.9;">

<div class="card-body">
<p class="card-title" >请输入用户名</p>

<form method="post" id="loginForm">
  <div class="form-floating mb-3">
    <input type="text" class="form-control " id="username" name="username" placeholder="username" required>
    <label for="username">用户名</label>
  </div>

  <div style="margin-top: 30px;"></div>

  <div class="d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-primary" type="submit"  name="_eventId_next">下一步</button>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-end">
    <button id="loginCancel" class="btn btn-outline-secondary" type="submit"  name="_eventId_cancel">取消</button>
  </div>
</form>

</div>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/jQuery/jquery-3.6.0.js"></script>
<script>

$("#loginCancel").click(function(){
	$("#username").removeAttr("required");
	$("#loginForm").submit();
	
});

</script>

</body>
</html>